body {
  font-family: arial, sans-serif;
}

h1 {
  color: #51575C;
  display: block;
  font-size: 30px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #51575C;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.btn{
  background-color: white;
  border-color: #51575c;
  color: #51575c;
}

.btn:hover{
  background-color: #51575c;
    border-color: white;
  color: white;
}

.btn:active , .btn:focus, .btn:focus-visible{
  background-color: #51575c;
  border-color: white;
  color: white;
  outline: none;
  box-shadow: none;

}


.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.appTitle {
  color:#51575c;
  font-size: 47px;
}


.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background-color: #d6dbdf;
}

.form-control{
  border-color: none;

}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: #595F64;
  font-size: 70px;
  line-height: 1;
  font-weight: 400;
}
.weather-temperature .units {
  position: relative;
  color: #51575c;
  font size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: #595F64;
  cursor: default;
  text-decoration: none
}

.weather-temperature .active:hover{
  text-decoration: none;
}

.weather-forecast{
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date{
  font-size: 16px;
  opacity: 0.7;
}

.weather-forecast-temperature-min {
  opacity: 0.6;
}

.weather-temperatures{
  font-size: 13px;
}